{% extends "main.html" %}
{% block main %}
    {% load staticfiles %}
    <!-- Page Heading -->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Hasil AHP <!--<small>Statistics Overview</small>-->
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-home"></i> <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <i class="fa fa-user"></i> Menu
                </li>
                <li>
                    <i class="fa fa-user"></i> Hasil AHP
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Kriteria</h2>
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>Harga</th>
                    <th>Isi</th>
                    <th>PAO</th>
                    <th>Daya Tahan Produk</th>
                    <th>Cruelty-Free</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Harga</th>
                    <td> 1</td>
                    <td> {{ kri_a }}</td>
                    <td> {{ kri_b }}</td>
                    <td> {{ kri_c }}</td>
                    <td> {{ kri_d }}</td>                    
                </tr>
                <tr>
                    <th>Isi</th>
                    <td> 1/{{ kri_a }}</td>
                    <td> 1</td>
                    <td> {{ kri_e }}</td>
                    <td> {{ kri_f }}</td>
                    <td> {{ kri_g }}</td>
                </tr>
                <tr>
                    <th>PAO</th>
                    <td> 1/{{ kri_b }}</td>
                    <td> 1/{{ kri_e }}</td>
                    <td> 1</td>
                    <td> {{ kri_h }}</td>
                    <td> {{ kri_i }}</td>
                </tr>
                <tr>
					<th>Daya Tahan Produk</th>
					<td> 1/{{ kri_c }}</td>
					<td> 1/{{ kri_f }}</td>
					<td> {{ kri_h }}</td>
					<td> 1</td>
					<td> {{ kri_j }}</td>
                </tr>
                <tr>
					<th>Cruelty-Free</th>
					<td> 1/{{ kri_d }}</td>
					<td> 1/{{ kri_g }}</td>
					<td> 1/{{ kri_i }}</td>
					<td> 1/{{ kri_j }}</td>
					<td> 1</td>
                </tr>
                </tbody>
            </table>
            <h2>Bobot Kriteria</h2>
            <table border="1" class="table table-striped table-bordered">

                <tbody>
                <tr>
                    <th><strong>Bobot Harga</strong> :</th>
                    <td><h5> {{ bobot_harga }}</h5></td>

                </tr>
                <tr>
                    <th><strong>Bobot Isi</strong> :</th>
                    <td><h5> {{ bobot_isi }}</h5></td>
                    
                </tr>
                <tr>
                    <th><strong>Bobot PAO</strong> :</th>
                    <td><h5> {{ bobot_pao }}</h5></td>

                </tr>
                <tr>
                    <th><strong>Bobot Daya Tahan Produk</strong> :</th>
                    <td><h5> {{ bobot_time }}</h5></td>

                </tr>
                <tr>
                    <th><strong>Bobot Cruelty-Free</strong> :</th>
                    <td><h5> {{ bobot_cruelty_free }}</h5></td>

                </tr>
                </tbody>
            </table>
            <p>Konsistensi = {{ cons }} = {{ cons_pre }} %</p>

        </div>

    </div>
{% if cons_pre <= 10 %}
    <div class="row">
        <div class="col-lg-6">
            <h2>Harga</h2>
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>Produk A</th>
                    <th>Produk B</th>
                    <th>Produk C</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Produk A</th>
                    <td> {{ harga_a }}/{{ harga_a }}</td>
                    <td> {{ harga_b }}/{{ harga_a }}</td>
                    <td> {{ harga_c }}/{{ harga_a }}</td>
                </tr>
                <tr>
                    <th>Produk B</th>
                    <td> {{ harga_a }}/{{ harga_b }}</td>
                    <td> {{ harga_b }}/{{ harga_b }}</td>
                    <td> {{ harga_c }}/{{ harga_b }}</td>
                </tr>
                <tr>
                    <th>Produk C</th>
                    <td> {{ harga_a }}/{{ harga_c }}</td>
                    <td> {{ harga_b }}/{{ harga_c }}</td>
                    <td> {{ harga_c }}/{{ harga_c }}</td>
                </tr>
                </tbody>
            </table>
            {% comment %}
            <h5><strong>Bobot Harga A</strong> : {{ bobot_harga_a }}</h5>
            <h5><strong>Bobot Harga B</strong> : {{ bobot_harga_b }}</h5>
            <h5><strong>Bobot Harga C</strong> : {{ bobot_harga_c }}</h5>
            {% endcomment %}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Isi</h2>
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>Produk A</th>
                    <th>Produk B</th>
                    <th>Produk C</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Produk A</th>
                    <td> {{ isi_a }}/{{ isi_a }}</td>
                    <td> {{ isi_b }}/{{ isi_a }}</td>
                    <td> {{ isi_c }}/{{ isi_a }}</td>
                </tr>
                <tr>
                    <th>Produk B</th>
                    <td> {{ isi_a }}/{{ isi_b }}</td>
                    <td> {{ isi_b }}/{{ isi_b }}</td>
                    <td> {{ isi_c }}/{{ isi_b }}</td>
                </tr>
                <tr>
                    <th>Produk C</th>
                    <td> {{ isi_a }}/{{ isi_c }}</td>
                    <td> {{ isi_b }}/{{ isi_c }}</td>
                    <td> {{ isi_c }}/{{ isi_c }}</td>
                </tr>
                </tbody>
            </table>
            {% comment %}
            <h5><strong>Bobot Isi A</strong> : {{ bobot_isi_a }}</h5>
            <h5><strong>Bobot Isi B</strong> : {{ bobot_isi_b }}</h5>
            <h5><strong>Bobot Isi C</strong> : {{ bobot_isi_c }}</h5>
            {%  endcomment %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2>PAO</h2>
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>Produk A</th>
                    <th>Produk B</th>
                    <th>Produk C</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Produk A</th>
                    <td> {{ pao_a }}/{{ pao_a }}</td>
                    <td> {{ pao_b }}/{{ pao_a }}</td>
                    <td> {{ pao_c }}/{{ pao_a }}</td>
                </tr>
                <tr>
                    <th>Produk B</th>
                    <td> {{ pao_a }}/{{ pao_b }}</td>
                    <td> {{ pao_b }}/{{ pao_b }}</td>
                    <td> {{ pao_c }}/{{ pao_b }}</td>
                </tr>
                <tr>
                    <th>Produk C</th>
                    <td> {{ pao_a }}/{{ pao_c }}</td>
                    <td> {{ pao_b }}/{{ pao_c }}</td>
                    <td> {{ pao_c }}/{{ pao_c }}</td>
                </tr>
                </tbody>
            </table>
            {%  comment %}
            <h5><strong>Bobot PAO A</strong> : {{ bobot_pao_a }}</h5>
            <h5><strong>Bobot PAO B</strong> : {{ bobot_pao_b }}</h5>
            <h5><strong>Bobot PAO C</strong> : {{ bobot_pao_c }}</h5>
            {% endcomment %}

        </div>
    </div>
	
	<div class="row">
        <div class="col-lg-6">
            <h2>Daya Tahan Produk</h2>
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>Produk A</th>
                    <th>Produk B</th>
                    <th>Produk C</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Produk A</th>
                    <td> {{ time_a }}/{{ time_a }}</td>
                    <td> {{ time_b }}/{{ time_a }}</td>
                    <td> {{ time_c }}/{{ time_a }}</td>
                </tr>
                <tr>
                    <th>Produk B</th>
                    <td> {{ time_a }}/{{ time_b }}</td>
                    <td> {{ time_b }}/{{ time_b }}</td>
                    <td> {{ time_c }}/{{ timeb }}</td>
                </tr>
                <tr>
                    <th>Produk C</th>
                    <td> {{ time_a }}/{{ time_c }}</td>
                    <td> {{ time_b }}/{{ time_c }}</td>
                    <td> {{ time_c }}/{{ time_c }}</td>
                </tr>
                </tbody>
            </table>
            {%  comment %}
            <h5><strong>Bobot Daya Tahan Produk A</strong> : {{ bobot_time_a }}</h5>
            <h5><strong>Bobot Daya Tahan Produk B</strong> : {{ bobot_time_b }}</h5>
            <h5><strong>Bobot Daya Tahan Produk C</strong> : {{ bobot_time_c }}</h5>
            {% endcomment %}

        </div>
    </div>

	<div class="row">
        <div class="col-lg-6">
            <h2>Cruelty-Free</h2>
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>Produk A</th>
                    <th>Produk B</th>
                    <th>Produk C</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Produk A</th>
                    <td> {{ cruelty_free_a }}/{{ cruelty_free_a }}</td>
                    <td> {{ cruelty_free_b }}/{{ cruelty_free_a }}</td>
                    <td> {{ cruelty_free_c }}/{{ cruelty_free_a }}</td>
                </tr>
                <tr>
                    <th>Produk B</th>
                    <td> {{ cruelty_free_a }}/{{ cruelty_free_b }}</td>
                    <td> {{ cruelty_free_b }}/{{ cruelty_free_b }}</td>
                    <td> {{ cruelty_free_c }}/{{ cruelty_free_b }}</td>
                </tr>
                <tr>
                    <th>Produk C</th>
                    <td> {{ cruelty_free_a }}/{{ cruelty_free_c }}</td>
                    <td> {{ cruelty_free_b }}/{{ cruelty_free_c }}</td>
                    <td> {{ cruelty_free_c }}/{{ cruelty_free_c }}</td>
                </tr>
                </tbody>
            </table>
            {%  comment %}
            <h5><strong>Bobot Cruelty-Free A</strong> : {{ bobot_cruelty_free_a }}</h5>
            <h5><strong>Bobot Cruelty-Free B</strong> : {{ bobot_cruelty_free_b }}</h5>
            <h5><strong>Bobot Cruelty-Free C</strong> : {{ bobot_cruelty_free_c }}</h5>
            {% endcomment %}

        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <h2>Bobot Alternatif</h2>
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>Harga</th>
                    <th>Isi</th>
                    <th>PAO</th>
                    <th>Daya Tahan Produk</th>
                    <th>Cruelty-Free</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Bapak A</th>
                    <td> {{ bobot_harga_a }}</td>
                    <td> {{ bobot_isi_a }}</td>
                    <td> {{ bobot_pao_a }}</td>
                    <td> {{ bobot_time_a }} </td>
                    <td> {{ bobot_cruelty_free_a }} </td>
                </tr>
                <tr>
                    <th>Bapak B</th>
                    <td> {{ bobot_harga_b }}</td>
                    <td> {{ bobot_isi_b }}</td>
                    <td> {{ bobot_pao_b }}</td>
                    <td> {{ bobot_time_b }} </td>
                    <td> {{ bobot_cruelty_free_b }} </td>
                </tr>
                <tr>
                    <th>Bapak C</th>
                    <td> {{ bobot_harga_c }}</td>
                    <td> {{ bobot_isi_c }}</td>
                    <td> {{ bobot_pao_c }}</td>
                    <td> {{ bobot_time_c }} </td>
                    <td> {{ bobot_cruelty_free_c }} </td>
                </tr>
                </tbody>
            </table>

            <h2>Bobot Hasil</h2>
            <table border="1" class="table table-striped table-bordered">
                <thead>
                <tr style="text-align: right;">
                    <th></th>
                    <th>Bobot</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Produk A</th>
                    <td> {{ produk_a }}</td>
                </tr>
                <tr>
                    <th>Produk B</th>
                    <td> {{ produk_b }}</td>
                </tr>
                <tr>
                    <th>Produk C</th>
                    <td> {{ produk_c }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>Jadi produk lipcolor yang lebih baik untuk dibeli untuk anda adalah  {{ produk_max }}</p>

    {% else %}

            <p>Konsistensi Lebih dari 10% tidak bisa dilakukan perhitungan</p>

    {% endif %}



{% endblock %}

