{% extends "main.html" %}
{% block main %}
{% load staticfiles %}
    <!-- Page Heading -->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                           Input Nilai Alternatif AHP <!--<small>Statistics Overview</small>-->
                        </h1>
                        <ol class="breadcrumb">
                            <li  class="active">
                                <i class="fa fa-home"></i> <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <i class="fa fa-user"></i> Menu
                            </li>
                            <li>
                                <i class="fa fa-user"></i> Input AHP
                            </li>
                        </ol>
                    </div>
                </div>
			<!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
        <form action="{% url 'input-ahp' ahp.id %}" method="post" class="form" role="form">
            {% csrf_token %}
			<h4><strong> Harga </strong> </h4>
			<br>
		    <label>Produk a</label>
                    <div> {{ form.harga_a }}</div>
            <label>Produk b</label>
                    <div> {{ form.harga_b }}</div>
		    <label>Produk c</label>
                    <div> {{ form.harga_c }}</div> 
			<br>
			<h4><strong> Isi Produk </strong> </h4>
			<br>
            <label>Produk a</label>
                    <div> {{ form.isi_a }}</div>
		    <label>Produk b</label>
                    <div> {{ form.isi_b }}</div>
		    <label>Produk c</label>
                    <div> {{ form.isi_c }}</div>
			<br> 
			<h4><strong> Period After Opening (PAO) (m<sup>2</sup>)</strong> </h4>
			<br>
		    <label>Produk a</label>
                    <div> {{ form.pao_a }}</div>  
		    <label>Produk b</label>
                    <div> {{ form.pao_b }}</div>  
		    <label>Produk c</label>
                    <div> {{ form.pao_c }}</div>
			<br>
			<h4><strong> Daya Tahan Pemakaian Produk </strong> </h4>
			<br>
		    <label>Produk a</label>
                    <div> {{ form.time_a }}</div>
            <label>Produk b</label>
                    <div> {{ form.time_b }}</div>
		    <label>Produk c</label>
                    <div> {{ form.time_c }}</div> 
			<br>
			<h4><strong> Produk Bebas Uji Coba Penyiksaan Hewan (Cruelty-Free) </strong> </h4>
			<br>
		    <label>Produk a</label>
                    <div> {{ form.cruelty_free_a }}</div>
            <label>Produk b</label>
                    <div> {{ form.cruelty_free_b }}</div>
		    <label>Produk c</label>
                    <div> {{ form.cruelty_free_c }}</div> 
			<br>             
        <p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </p>
    </form>       </div>
    </div>
{% endblock %}
